.configurator-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
}
.active{
    background-color: #AAA;
}
.progress-section{
    margin-top: 40px; 
}
.image-section{
    margin-top: 50px;
    margin-bottom: 50px;
}