<div style="height: 400px">
  <svg 
      xmlns="http://www.w3.org/2000/svg" 
      xmlns:xlink="http://www.w3.org/1999/xlink"
      height="400"
      width="100%"
    >
      <rect 
          x="103" 
          y="48" 
          style="fill:none;"
          [attr.stroke]="svgAttributes.color"
          [attr.stroke-width]="svgAttributes.bezelWidth"
          [attr.rx]="svgAttributes.radius"
          id="e1_rectangle" 
          [attr.width]="svgAttributes.width" 
          [attr.height]="svgAttributes.height"/>
  </svg>
</div>