<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="hero">
        <app-header 
          (sidenavToggle)="sidenav.toggle()"
        >
        </app-header>
      </div>
      <main >
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
 -->

  <main >
    <router-outlet></router-outlet>
  </main>
  